<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>권하은의 일기장</title>
</head>
<body style="background-color: lightblue;">
    <i><h1>권하은의 일기장</h1></i>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/haeund/">Diary</a>
        </li>
    </ul>

        {% block content %}
        {% endblock %}

    <hr />
    &copy;<a href="https://github.com/KWONHAAAEUN">https://github.com/KWONHAAAEUN</a>


</body>
</html>