{% extends "dancer/layout.html" %}

{% block content %}
    <div style = "text-align:center;">
        <form action="" method="get">
        <input type="text" name="query" value="{{ request.GET.query }}" />
        <!-- value를 지정해서 검색해도 검색했던 단어가 사라지지 않게 함 -->
        <input type="submit" value="검색"/>
    </form></div>
    <div class="row" style="margin-top:1em;">
            {% for post in post_list %}
            <div class="col-sm-6 offset-sm-3" style="margin-top:1em;">
                <div class="card">
                    <img src="{{ post.photo.url }}"
                         alt="{{ post.team_name }}"
                        class="card-img-top"/>
                     {{ post.team_name }}
                <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                        {{ post.content|truncatewords:20 }}
                    <a href="{% url "dancer:post_detail" post.pk %}" class="btn btn-sm btn-primary">상세정보</a>
                </div></div></div>
    {% endfor %}
    </div>
{% endblock %}