<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dingo Music</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>
<body>
{#    <div style="margin:-5px -10px;padding:5px 10px;background-image:linear-gradient(to right, #FFD700, #FFD700)">#}
{#        <a class="wiki-link-auto" title="딩고 뮤직" href="/jump/3x0ROZ1V7ii1G1Ywue43Vf8gYzAWvhvnFnBP7FRWfZdhibQQifxGNZ1Wut5wYOwO95hEv4EIOX8nk5op7KuCFw%3D%3D" rel="nofollow">#}
{#        <span class="wiki-image-align-normal" style="width:50px;">#}
{#            <span class="wiki-image-wrapper" style="width: 100%;">#}
{#                <img class="wiki-image-space" width="100%" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjI1MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=">#}
{#                <img class="wiki-image" width="100%" src="//w.namu.la/s/1f33cb52265ff61751c18b5262ff0be3f8ab73eb7978fd5141a7693abf5c821d4ace75e14b7ff0c0193481e0fefbdcec42ee62279439ae8f6d4fb26790b62424210e2a908bea3d1723a3e1ca53dcc66345201d891bc35912c520df476c5433efd25ea917ab97bd9ea50859a3e0798c8f" data-filesize="50065" data-src="//w.namu.la/s/1f33cb52265ff61751c18b5262ff0be3f8ab73eb7978fd5141a7693abf5c821d4ace75e14b7ff0c0193481e0fefbdcec42ee62279439ae8f6d4fb26790b62424210e2a908bea3d1723a3e1ca53dcc66345201d891bc35912c520df476c5433efd25ea917ab97bd9ea50859a3e0798c8f" alt="딩고 뮤직" loading="lazy">#}
{#                <noscript><img class='wiki-image' width='100%' src='//w.namu.la/s/1f33cb52265ff61751c18b5262ff0be3f8ab73eb7978fd5141a7693abf5c821d4ace75e14b7ff0c0193481e0fefbdcec42ee62279439ae8f6d4fb26790b62424210e2a908bea3d1723a3e1ca53dcc66345201d891bc35912c520df476c5433efd25ea917ab97bd9ea50859a3e0798c8f' alt='딩고 뮤직'>#}
{#                </noscript></span></span></a>#}
{#        <span class="wiki-size size-up-3"><strong>#}
{#            <span style="text-shadow:0 0 10px #ffffff;color:#000000"> 딩고 뮤직 / dingo music</span></strong></span> </div>#}
{#</div>#}
<div class="container py-3">
    <h1>Dingo Music</h1>
    {% block content %}
    {% endblock %}
    <hr>
    &copy; 2021. 권하웅.
</div>


</body>
</html>