{% extends "diary/layout.html" %}

<!-- block안에 지정해주지 않는 것은 무시된다 -->
{% block content %}
    <form action="" method="get">
        <input type="text" name="query" value="{{ request.GET.query }}"placeholder="웹 검색어를 지정해주세요"/>
        <!-- value를 지정해서 검색해도 검색했던 단어가 사라지지 않게 함 -->
        <input type="submit" value="검색"/>
    </form>
    <div class="row" style="margin-top:1em;">
    <!-- views에서 지정해준 것을 in 뒤에 넣어줘야함  -->
        {% for post in post_list %}
            <div class="col-sm-6 offset-sm-3" style="margin-top:1em;">
                <div class="card">
                    <img src="{{ post.photo.url }}"
                         alt="{{ post.title }}"
                         class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {{ post.content|truncatewords:20 }}
                <a href="{% url "diary:post_detail" post.pk %}" class="btn btn-sm btn-primary">바로가기</a>
            </div></div></div>
        {% endfor %}
    </div>
{% endblock %}
