{% extends "car/layout.html" %}
{% block content %}
    <div class="text-white">
    <h2>{{ shop.name }}</h2>
    <p>
        Tag:
        {% for tag in tag_list %}
            <a href="{% url "car:tag_detail" tag.name %}" class="badge bg-secondary">
                {{ tag.name }}
            </a>
        {% endfor %}
    </p>
    <img src="{{ shop.photo.url }}"
         alt="{{ shop.name }}"/>
    <h2>{{ shop.name }}</h2>
    <ul>
        <li>{{ shop.type }}</li>
        <li>{{ shop.cost }}</li>
    </ul>
    {{ shop.option|linebreaks }}

    <h3>Review</h3>
    <a href="{% url "car:review_new" shop.pk %}">write a review</a>
    <ul>
        {% for review in review_list %}
            <li>
                {{ review.message }}
                by {{ review.author_name }}
                at
                <span title="{{ review.created_at }}">
                    {{ review.created_at|timesince }}전
                </span>
                <a href="{% url "car:review_edit" shop.pk review.pk %}">edit</a>
            </li>
        {% endfor %}
    </ul>
    <hr />
    <a href="{% url "car:shop_list" %}" class="btn bg-secondary">back</a>
    <a href="{% url "car:shop_edit" shop.pk %}" class="btn bg-secondary">post edit</a>
{% endblock %}</div>