{% extends "car/layout.html" %}
{% block content %}
    <h2>{{ shop.name }}</h2>
    <p>
        Tag:
        {% for tag in tag_list %}
            <a href="{% url "car:tag_detail" tag.name %}" class="badge bg-success">
                {{ tag.name }}
            </a>
        {% endfor %}
    </p>
    <img src="{{ shop.photo.url }}"
         alt="{{ shop.name }}"/>
    <h2>{{ shop.name }}</h2>
    <ul>
        <li>{{ shop.name }}</li>
        <li>{{ shop.type }}</li>
        <li>{{ shop.cost }}</li>
    </ul>
    {{ shop.option|linebreaks }}

    <h3>Review</h3>
    <a href="{% url "car:review_new" shop.pk %}">댓글 작성</a>
    <ul>
        {% for review in review_list %}
            <li>
                {{ review.message }}
                by {{ review.author_name }}
                at
                <span title="{{ review.created_at }}">
                    {{ review.created_at|timesince }}전
                </span>
                <a href="{% url "car:review_edit" shop.pk review.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    <hr />
    <a href="/car/" class="btn bg-secondary">목록으로</a>
{% endblock %}