{% extends "car/layout.html" %}
{% block content %}
    <form action="" method="get">
        <input type="text" name="query" value="{{ request.GET.query }}"/>
        <input type="submit" value="Search"/>
    </form>
    <div class="row" style="margin-top:1em;">
    {% for shop in shop_list %}
        <div class="col-sm-6 offest-sm-3" style="margin-top: 1em;">
            <div class="card">
                <img src="{{ shop.photo.url }}"
                     alt="{{ shop.name }}"/>
            <div class="card-body">
            <h5 class="card-title">{{ shop.name }}</h5>
            <a href="{% url "car:shop_detail" shop.pk %}" class="btn btn-sm bg-secondary text-white">more..</a>
            </div></div></div>
    {% endfor %}
    </div>
    <hr />
    <a href="{% url "car:shop_new"%}" calss="btn btn-primary">
    write a post
    </a>
{% endblock %}