{% extends "ani/layout.html" %}
{% block content %}
    <h2>{{ ani.name }}</h2>
    <p>
        {% for tan in ani.tag_set.all %}
            {{ tag.name }}
        {% empty %}
            등록된 태그가 없습니다.
        {% endfor %}
    </p>
    {% if ani.photo %}
        <img src="{{ ani.photo.url }}" alt="{{ ani.name }}"/>
    {% endif %}
    {{ ani.description|default:"설명이 없습니다" }}
    <hr />
    <h4>댓글</h4>
    <a href="{% url 'ani:comment_new' ani.pk %}">리뷰 작성</a>
    {% for comment in ani.comment_set.all %}
        <div>
            {{ comment.message }}
            by {{ comment.user }}
            at {{ comment.created_at }}
        </div>
        {% if comment == request.user %}
            <a href="{% url 'ani:comment_edit' ani.pk comment.pk %}">수정</a>
        {% endif %}
    {% empty %}
        등록된 댓글이 없습니다
    {% endfor %}
{% endblock %}